:root {
    --white-text: #FFFFFF;
    --grey-text: #9DA4BD;
    --grey-text-op60: #9DA4BD;
    --grey-text-op40: rgba (157, 164, 189, 0.4);
    --graphite: #303030;
    --light-graphite: #555555;
    --orange-text: #FF6C00;
    --back-light-grey: #F7F7F7;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: black;
    /* color: var(--orange-text); */
}

.header-item {
    /* color: white; */
    /* color: inherit; */
    /* color: currentColor; */
    color: var(--white-text);
}

.sign-online:hover {
    background-color:var(--orange-text);
}

.header-item:hover {
    color:var(--orange-text);
}

.hero {
    background:black;
    color:var(--grey-text-op60);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}
.hero-btn {
    background-color:transparent;
    border: none;
    color:var(--grey-text-op60);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.hero-btn:hover {
    color:var(--white-text);
}

.title {
    color:var(--graphite);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
}

/* .adr-btn { */
    /* border: 5px solid salmon;
    padding: 20px;
    display:inline-block;
    /* height: 20px;
    width: 20px; */
    /* margin-right: 50px; */
    /* background-color:turquoise; */
    /* vertical-align: middle;
    font-weight: 600;
    font-size: 11px; */
    /* line-height: 15px; */ */
    
/* } */

nav {
    color: var(--white-text);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.main-title {
    color:var(--white-text);
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    font-family: 'Raleway', sans-serif;
}

.hero-motto {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.section-paragraph {
    color:var(--light-graphite);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.paragraph-caps {
    color:var(--graphite);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.paragraph-caps-grey {
    color:var(--grey-text-op60);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.paragraph {
    color: var(--light-graphite);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}

.title-prices {
    color:var(--white-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
}

.prices {
    color: var(--grey-text-op60);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.section-prices {
    background-color: black;
}

.workers {
    background-color: var(--back-light-grey);
}

.final-section {
    background-color: black;
}

.numbers {
    color:var(--graphite);
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
}

.numbers-item {
    color:var(--graphite);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
} 

.name {
    color:var(--graphite);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.position {
    color: var(--orange-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.sign-online {
    color:var(--white-text);
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    border: 1px solid var(--orange-text);
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background: transparent;
}



.sign-online-black {
    color:var(--graphite);
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    border: 1px solid var(--orange-text);
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background: transparent;
}
.sign-online-black:hover {
    background-color:var(--orange-text);
}
.message-box {
    color:var(--grey-text-op40);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-text-op40);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}


.adr-btn {
    color:var(--grey-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


.copy {
    color:var(--grey-text);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.social-netw {
    color:var(--graphite);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}
.social-netw:link {
    text-decoration: none;
}

.social-netw:visited {
    text-decoration: none;
}

.work-hours {
    color:var(--white-text);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Open Sans', sans-serif;
}
