:root {
    --white-text: #FFFFFF;
    --grey-text: #9DA4BD;
    --grey-text-op60: #9DA4BD;
    --grey-text-op40: rgba (157, 164, 189, 0.4);
    --graphite: #303030;
    --light-graphite: #555555;
    --orange-text: #FF6C00;
    --back-light-grey: #F7F7F7;
}

header,
section,
footer {
    border:1px solid;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width:1200px;
    padding: 0 15px;
    border: 1px solid #FF6C00;

}

.header {
    background-color: black;
    /* color: var(--orange-text); */
    position:relative;

}

.header-nav {
    color: var(--white-text);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    
}

.header-nav,
.nav-list,
.contact-list,
.social-netw {
    display: flex;
}

.header-nav {
    justify-content: space-between;
    align-items: center;
    padding-top:28px;
}

.social-netw {
    position: absolute;
}

.nav-list li {
    margin-left: 40px;
}

.contact-list li:last-child {
    margin-left: 40px;
}

.contact-list {
    align-items: center;
}

.nav-link {
    /* color: white; */
    /* color: inherit; */
    /* color: currentColor; */
    color: var(--white-text);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.nav-link.current {
    color:var(--orange-text);
}


.nav-link:hover {
    color:var(--orange-text);
}

.nav-link-sn {
    color: var(--graphite);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
}

.nav-link-sn:hover {
    color:var(--orange-text);
}

.contact-list a {
    color: var(--white-text);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
}
.contact-list a:hover {
    color:var(--orange-text);
    background:transparent;
}


.hero {
    background:black;
    color:var(--grey-text-op60);
}
.pretitle {
color:var(--grey-text-op60);
font-weight: 600;
font-size: 11px;
line-height: 15px;
letter-spacing: 0.1em;
text-transform: uppercase;
}

.main-title {
    color:var(--white-text);
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    font-family: 'Raleway', sans-serif;
    line-height: 85px;
    letter-spacing: 0.05em;
}

.hero-btn {
    background-color:transparent;
    border: none;
    color:var(--grey-text-op60);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.hero-btn:hover {
    color:var(--white-text);
}

.title {
    color:var(--graphite);
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    font-family: 'Raleway', sans-serif;
}

/* .adr-btn { */
    /* border: 5px solid salmon;
    padding: 20px;
    display:inline-block;
    /* height: 20px;
    width: 20px; */
    /* margin-right: 50px; */
    /* background-color:turquoise; */
    /* vertical-align: middle;
    font-weight: 600;
    font-size: 11px; */
    /* line-height: 15px; */ */
    
/* } */

.hero-motto {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
}

.section-paragraph {
    color:var(--light-graphite);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.paragraph-caps {
    color:var(--graphite);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.paragraph-caps-grey {
    color:var(--grey-text-op60);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.paragraph {
    color: var(--light-graphite);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Open Sans', sans-serif;
}

.title-prices {
    color:var(--white-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Raleway', sans-serif;
}

.prices {
    color: var(--grey-text-op60);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.section-prices {
    background-color: black;
}

.workers {
    background-color: var(--back-light-grey);
}

.contacts {
    background-color: black;
}

.numbers {
    color:var(--graphite);
    font-weight: bold;
    font-size: 42px;
    line-height: 57px;
}

.numbers-item {
    color:var(--graphite);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
} 

.name {
    color:var(--graphite);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.position {
    color: var(--orange-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.sign-online {
    color:var(--white-text);
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    border: 1px solid var(--orange-text);
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background: transparent;
}

.sign-online:hover,
.sign-online:focus {
  background-color: var(--orange-text);
  color: var(--white-text);
}

.sign-online-black {
    color:var(--graphite);
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    border: 1px solid var(--orange-text);
    border-radius: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background: transparent;
}
.sign-online-black:hover,
.sign-online-black:focus {
  background-color: var(--orange-text);
  color: var(--white-text);
}

/* .message-box {
    color:var(--grey-text-op40);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-text-op40);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
} */

.signform input::placeholder,
.signform textarea::placeholder {
  color: var(--grey-text-op40);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  background: transparent;
}

.signform input,
.signform textarea {
  color: var(--grey-text-op40);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--grey-text-op40);
}

.signform input:active,
.signform textarea:active {
  color: var(--white-text);
  background: transparent;
}

.adr-btn {
    color:var(--grey-text);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}


.copy {
    color:var(--grey-text);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.social-netw {
    color:var(--graphite);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}
.social-netw:link {
    text-decoration: none;
}

.social-netw:visited {
    text-decoration: none;
}

.work-hours {
    color:var(--white-text);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    font-family: 'Open Sans', sans-serif;
}

